<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Portfolio</h1>
    <p>My name is Dylan Batizy, I am a Junior at UCCS majoring in Computer Security.
     Below, you'll find a collection of projects that I've worked on in my academic
     career at UCCS. This Portfolio application was constructed for the final project
     of my course <strong> CS 3300 (Intro to Software Engineering)</strong>. The 
     purpose of this project was to exercise the core principles of software
     engineering by applying Agile development methodologies during the development
     of this application.</p>
  </div>
</div>

<div class="container">
  <h1 class="display-3">Projects</h1>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col-md-4">
      <h2><%= project.title %></h2>
      <p><%= project.description %></p>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">
          <%= link_to 'View', project, :class => 'btn btn-secondary'%>
        </button>
        <button type="button" class="btn btn-default">
          <%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-secondary'%>
        </button>
        <button type="button" class="btn btn-default">
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-secondary' %>
        </button>
      </div>
    </div>
    <% end %>
  </div>

  <hr>

</div>




<div class="container">
  <%= link_to 'New Project', new_project_path, :class => 'btn btn-secondary' %>
</div>
