<!DOCTYPE html>
<html>
  <head>
    <title>CS3300PortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <% if user_signed_in? %>
      <li class="navbar-brand">Logged in as <%= current_user.email %> </li>
    <% else %>
      <li class="navbar-brand">Not signed in...</li>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', projects_path, :class => 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          </li>
      <% end %>

      </ul>
    </div>
  </nav>




  <body class="body">

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
